
:root {
  --dark-blue: #264653;
  --green: #2a9d8f;
  --white: #ffefef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #ffffff;
  margin: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.section {
  display: flex;
  background-color: var(--green);
  margin: 40px;
}

.box {
  background-color: var(--dark-blue);
  color: #ffefef;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  font-weight: 700;
  margin: 20px;
  padding: 0 40px;
  line-height: 50px;
  letter-spacing: 0.263px;
}

.section-1 {
  flex-direction: row;
  gap: 20px;
}

.section-2 {
  flex-direction: row-reverse;
  gap: 20px;
}

.section-3 {
  flex-direction: column;
}

.section-4 {
  flex-direction: row;
  justify-content: space-between;
}

.section-5 {
  flex-direction: column;
  align-items: center;
}