
:root {
  --dark-blue: #264653;
  --green: #2a9d8f;
  --white: #ffefef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
}

.section {
  display: flex;
  background-color: var(--green);
}

.box {
  background-color: var(--dark-blue);
  color: #ffefef;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.263px;
}